{minimum_otp_vsn, "27"}.

{erl_opts, [debug_info]}.

{deps, [
    {arizona, {git, "https://github.com/arizona-framework/arizona.git",
               {branch, "main"}}},
    {arizona_rebar3_plugin, {git, "https://github.com/arizona-framework/arizona_rebar3_plugin",
                             {branch, "main"}}}
]}.

{plugins, [
    {rebar3_arizona, {git, "https://github.com/arizona-framework/rebar3_arizona.git",
                      {branch, "main"}}}
]}.

%{pre_hooks, [
%    {compile, "npm run build"}
%]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [erlang_website]}
]}.
