[
    {arizona, [
        {server, #{
            enabled => true,
            routes => [
                {asset, ~"/assets/js/arizona-worker.min.js",
                 {priv_file, arizona, ~"static/assets/js/arizona-worker.min.js"}, []},
                {asset, ~"/favicon.ico", {priv_file, erlang_website, ~"static/favicon.ico"}, []},
                {asset, ~"/robots.txt", {priv_file, erlang_website, ~"static/robots.txt"}, []},
                {asset, ~"/assets", {priv_dir, erlang_website, ~"static/assets"}, []},
                {asset, ~"/images", {priv_dir, erlang_website, ~"static/images"}, []},
                {view, ~"/", erlang_website_view, #{title => ~"Arizona Framework"}, []},
                {websocket, ~"/live", #{}, []}
            ]
        }},
        {reloader, #{
            enabled => true,
            rules => [
                #{
                    handler => {erlang_website_css_reloader, #{}},
                    watcher => #{
                        directories => ["assets/css"],
                        patterns => [".*\\.css$"]
                    }
                }
            ]
        }},
        {plugins, [
            {arizona_rebar3_plugin, #{}}
        ]}
    ]}
].
